*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.swp
desc-errors.txt

wordnets/
animals
emos.txt
test.xml
tmp.json
wn30.xml
wn30/
wn31.xml
wn31.zip
wn31/
out.d/
wn31.d/
scripts/
update-docker/
tmp*

enwn.xml
ewn-2020.json
ewn-2020.zip
ewn-2020/adj.exc
ewn-2020/adv.exc
ewn-2020/data.adj
ewn-2020/data.adv
ewn-2020/data.noun
ewn-2020/data.verb
ewn-2020/index.adj
ewn-2020/index.adv
ewn-2020/index.noun
ewn-2020/index.sense
ewn-2020/index.verb
ewn-2020/lexnames
ewn-2020/noun.exc
ewn-2020/verb.Framestext
ewn-2020/verb.exc
ewn2021
ewn2022
ewn2019
