*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.swp
desc-errors.txt

wordnets/
animals
emos.txt
test.xml
tmp.json
wn30.xml
wn30/
wn31.xml
wn31.zip
wn31/
out.d/
wn31.d/
scripts/
